# Django sozlamalari
DJANGO_SECRET_KEY=django-insecure-drilling-rig-management-secret-key-prod-change-me
DJANGO_DEBUG=True
ALLOWED_HOSTS=*

# Ma'lumotlar bazasi (PostgreSQL)
DB_ENGINE=django.db.backends.postgresql
DB_NAME=ung_drilling_db
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432
DB_CONN_MAX_AGE=60

# SQLite bilan ishlatish uchun quyidagilarni yoqishingiz mumkin:
# DB_ENGINE=django.db.backends.sqlite3
# DB_NAME=db.sqlite3
